.contenido{
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 2s;
    background: transparent;
}

.mapa{
    display: inline;
}

.buho{
    position: absolute;
    visibility: hidden;
    z-index: 2;
    
}


.contenido p{
    margin: 10px 0 40px;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
    text-align: justify;
}

html,
body{
    position: relative;
    height: 100%;
}

.body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(245, 245, 220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;   
}

@media(max-width: 700px){
    .contenido h1{
        font-size: 20px;
    }
    .links-navegacion ul li{
        display: block;
    }
    .links-navegacion{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1.01s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .links-navegacion ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    .swiper{
        width: 100%;
        padding: 50px 0 50px 0;
    }
    .swiper-slide{
        width: 100%;
        height: 100%;
        background-color: rgb(245, 245, 220);
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
        padding: 40px;
        text-align: center;
    }    
    .product-txt h3{
        font-size: 10px;
        color: black;
        text-transform: uppercase;
    } 
}

.footer2{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: beige;
    position: relative;
}

.footer2 h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer2 p{
    color: black;
}

.swiper{
    width: 50%;
    padding: 10px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 220);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.334);
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}    



.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.iconos i{
    font-size: 20px;
    color: #FFB900;
}

.iconos img{
    width: 120px;
}

.product-content{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.product-txt{
    flex-basis: 50%;
    font-family: Arial, Helvetica;
    text-align: left;
}

.product-txt h3{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

.product-txt p{
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.product-img{
    flex-basis: 50%;
    text-align: right;
}

.product-img img{
    width: 220px;
}

.btn-1{
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid red;
    border-radius: 25px;
    color: red;
    text-decoration: none;
    margin-top: 50px;
}

.h1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #000;
}
.p{
    color: #000;
    line-height: 1.5;
    text-align: justify;
    font-size: 24;
}

.special-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.special-layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    font-family:'Times New Roman', Times, serif;
}
.special-layer:hover{
    background: rgba(22, 121, 130, 0.7);
}

.special-layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    font-family:sans-serif;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}


.special-layer:hover h3{
    bottom: 50%;
    opacity: 1;
}

.campus-col-special{
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 1px;
    position:sticky;
    overflow: hidden;
}

.campus-col-special img{
    width: 100%;
    height: 100%;
    display: block;
}
